.search-bar{
    padding: 12px 15px;
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    border-width: 1px;
    font-size: 16px;
    margin-bottom: 20px;
}
.google{
    padding: 20px;
    width: 500px;
    font-size: 16px;
    border: none;
    box-shadow: 1px 5px 15px rgba(200, 200, 200, 0.25);
    border-radius: 30px;
}
#Signup{
    color: rgb(173, 169, 169);
    font-family: Arial;
    margin: 0;
}
.emailbar{
    width: 370px;
    margin-top: 0;
    padding: 8px 10px;
    border-radius: 6px;
    border-style: solid;
    border-color: rgb(76, 75, 75);
    border-width: 1.9px;
}
.join{
    background-color: rgb(10, 102, 194);
  color: white;
  border: none;
  font-size: 20px;
  width: 400px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 30px;
  margin-bottom: 20px;
}
#g{
    font-family: Arial;
    font-size: 20px;
    vertical-align: middle;
    margin-top: 10px;
}
.profile{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: left;
    border-radius: 50px;
    vertical-align: middle;
}
.searchbar{
    width: 300px;
    border: none;
    vertical-align: middle;
}
.tweet{
    background-color: rgb(29, 155, 240);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}