.oliver, .rex, .mimi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
div{
    font-family: Arial;
    font-size: 14px;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 15px;
}
.info{
    width: 200px;
}
.name{
    font-weight: bold;
    margin-bottom: 3px;
}
.handle{
    color: rgb(150, 150, 150);
    margin-bottom: 5px;
}
.category{
    color: rgb(150, 150, 150);
    font-size: 14.5px;
}
button{
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 15px;
}
.card{
    width: 300px;
}