p{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}
div{
    width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-right: 12px;
}
img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: left;
    margin-bottom: 12px;
}
.name{
    font-size: 18px;
    font-weight: bold;
    margin-left: 8px;
    margin-bottom: 4px;
}
.mutual-friend{
    color: rgb(100, 100, 100);
    margin-left: 8px;
    margin-bottom: 12px;
}
.add-button{
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(24, 119, 242)
}
.card{
    display: block;
    margin-bottom: 0;
    width: 700px;
}