p{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;

}
.card{
    width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}
.profile-photo{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: left;
    margin-bottom: 12px;
}
.Name{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 8px;
}
.suggest{
    color: rgb(100, 99, 99);
    margin-bottom: 12px;
    margin-left: 8px;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: rgb(24, 119, 242);
    color: white;
    border-radius: 5px;
    margin-left: 8px;
    margin-bottom: 10px;

}